body {
	background-color: #F5F5DD;
	color: black;

}

#nav
{
	background-color: #B1B17B;
	font-size: 16px;
	padding: 10px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  margin-bottom: 70px;

}

a:hover {
	color:grey;
}

a {
color:black;
font-style:bold;

}

.x{
	display: inline;
	list-style-type: none;
	padding: 14px 16px;
}

h1 {
	text-align: center;
	padding: 20x;
}

h2 {
	font-size:20px;
	
}
p  {
	text-align: center;
	padding: 20x;
}

#desc{
	text-align:left;
}

#name {
	text-align:left;
	
}
	

footer {
	background-color: #B1B17B;
	text-align: center;
    font-size: .8em;
	clear: both;
	position: fixed;
	bottom: 0;
	width: 100%;
	
}

img {
	margin-bottom: 50px;
}

#b {
	border: 1px solid;
  padding: 10px;
  background-image: url(../images/tausta.jpg);
  background-size:cover;
  margin-bottom: 15px;
}

#info {
	margin-top:150px
}

